---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"
import Panel from "../../internal/panel.astro"

const { blok } = Astro.props
console.log('blok: ', blok)
---

<Panel blok={blok}>
  {blok.heading ? (
    <div class="container">
      <h2>{blok.heading}</h2>
    </div>
    ) : null}
  {
    blok.panels?.map((subBlok) => {
      return <StoryblokComponent blok={subBlok} />
    })
  }
</Panel>